<form method="POST">
	<label for="title">Movie Title:</label>
	<input type="text" id="title" name="title">
	</br>
	<label for="genre">Movie Genre:</label>
	<input type="text" id="genre" name="genre">
	</br>
	<label for="director">Director:</label>
	<input type="text" id="director" name="director">
	</br>
	<label for="actors">Actors:</label>
	<input type="text" id="actor" name="actor">
	</br>
	<input type="submit" value="Add to my collection.">
</form>