<table border="1">
	<tr>
		<th>Title</th>
		<th>Actor</th>
		<th>Director</th>
		<th>Genre</th>
	</tr>
	<tr>
		<td>Dirty Harry</td>
		<td>Clint Eastwood</td>
		<td>Don Siegel</td>
		<td>Action</td>
	</tr>
</table>