<h2><img src="images/solutions.gif"/></h2>
<h2>Solution - Vegetation</h2>

<p>On warm summer days, the air in a city can be 6-8°F hotter than its surrounding areas. What causes this to happen? One reason is that there are fewer trees, shrubs, and other plants to shade buildings, intercept solar radiation, and cool the air by "evapotranspiration." 

Planting trees and bushes can thus help reduce urban temperatures as well as make cities greener. By providing shade and reducing urban temperatures, vegetation can save energy. 

Planting trees haphazardly throughout a city isn't the best way to achieve their benefits. The Heat Island Group promotes the proper planting and maintenance of urban trees.</p> 

<h2>Solution - Energy</h2>
<p>Measures that mitigate the heat island effect can save energy directly and indirectly. 
Direct effects include: Cool Roofs are roofs that would reflect solar radiation. This would reduce the heat conducting into buildings and directly reduce air-conditioning use.  Vegetation shading the walls and windows of buildings would also directly reduces air-conditioning use. 
To measure, verify, and demonstrate direct energy savings, we identify target buildings of interest, instrument them, and monitor energy use before and after the application of cool reflective roofs and the planting trees. We analyze the measured savings and we use the measured data to calibrate and develop simulation algorithms. 
Indirect effects include: Cool Roofs and Cool Pavements in a neighborhood would alter the surface energy balance. The result would be a lower ambient temperature which, in turn, would further reduce the air-conditioning energy use as well as the likelihood of smog.  Vegetation in a neighborhood would reduce the ambient temperature through Evapotranspiration. </p>

<h2>Solution – Cool roofs and pavements</h2>
<p>Dark materials absorb more heat from the sun--as anyone who has worn a black t-shirt on a sunny day knows. Black surfaces in the sun can become up to 70°F (40°C) hotter than the most reflective white surfaces. If those dark surfaces are roofs, some of the heat collected by the roof is transferred inside. 
Staying comfortable in under a dark shingle roof often means more air conditioning and higher utility bills. These roofs also heat the air around them, contributing to the heat island effect. Conversely, cool roofs can reduce the heat island effect and save energy. In a study funded by the U.S. EPA, the Heat Island Group carried out a detailed analysis of energy-saving potentials of light-colored roofs in 11 U.S. metropolitan areas. About ten residential and commercial building prototypes in each area were simulated. We considered both the savings in cooling and penalties in heating. We estimated saving potentials of about $175 million per year for the 11 cities. Extrapolated national energy savings were about $750 million per year.</p>
